.PaginationWrapper {
    display: flex;
    height: 75px;
    width: 1120px;
    gap: 32px;
    list-style-type: none;
    font-family: 'Helios';
    color: #A8A8A8;
    cursor: pointer;
    margin-bottom: 73px;
    margin-top: 49px;
    justify-content: center;
    border-top: 1px solid #E7E7E7;
    padding-top: 50px;

}
.Prev {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    left: 400px;
    }
    
.Next {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    right: 390px; 
    }

.Active {
    color: #313037;
}